<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java456.dao.DownDao">
	
	
	<resultMap type="Down" id="DownResult">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="keywords" column="keywords"/>
		<result property="description" column="description"/>
		<result property="content" column="content"/>
		<result property="contentNoTag" column="contentNoTag"/>
		
		<result property="summary" column="summary"/>
		<result property="thumbnail_image" column="thumbnail_image"/>
		
		<result property="createUserId" column="createUserId"/>
		<result property="downFenLeiId" column="downFenLeiId"/>
		
		<result property="clickHit" column="clickHit"/>
		<result property="replyHit" column="replyHit"/>
		<result property="isUse" column="isUse"/>
		
		<result property="display_mode" column="display_mode"/>
		<result property="url" column="url"/>
	
		<result property="createDateTime" column="createDateTime"/>
		<result property="updateDateTime" column="updateDateTime"/>
		
		<association property="downFenLei" column="downFenLeiId"
			select="com.java456.dao.DownFenLeiDao.findById"></association>
		<association property="createUser" column="createUserId"
			select="com.java456.dao.UserDao.findById"></association>
	</resultMap>
	
	<insert id="add" parameterType="Down"  useGeneratedKeys="true" keyProperty="id">
		insert into t_down values(null,#{title},#{keywords},#{description},#{content},#{contentNoTag}
		,#{summary},#{thumbnail_image},#{createUserId},#{downFenLeiId}
		,#{clickHit},#{replyHit},#{isUse},#{display_mode},#{url},#{createDateTime},#{updateDateTime});
	</insert>
	
	<update id="update" parameterType="Down">
		update t_down
		<set>
			<if test="title!=null ">
				title=#{title},
			</if>
			<if test="content!=null  ">
				content=#{content},
			</if>
			<if test="contentNoTag!=null">
				contentNoTag=#{contentNoTag},
			</if>
			<if test="summary!=null">
				summary=#{summary},
			</if>
			<if test="thumbnail_image!=null ">
				thumbnail_image=#{thumbnail_image},
			</if>
			<if test="keywords!=null  ">
				keywords=#{keywords},
			</if>
			<if test="description!=null">
				description=#{description},
			</if>
			<if test="clickHit!=null">
				clickHit=#{clickHit},
			</if>
			<if test="replyHit!=null">
				replyHit=#{replyHit},
			</if>
			<if test="downFenLeiId!=null">
				downFenLeiId=#{downFenLeiId},
			</if>
			<if test="isUse!=null">
				isUse=#{isUse},
			</if>
			<if test="display_mode!=null">
				display_mode=#{display_mode},
			</if>
			<if test="url!=null">
				url=#{url},
			</if>
			<if test="updateDateTime!=null">
				updateDateTime=#{updateDateTime},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<select id="list" parameterType="Map" resultMap="DownResult">
		select * from t_down 
		<where>
			<if test="q!=null and q!=''">
				and (title like #{q}  or contentNoTag like #{q}  or keywords like #{q} or description like #{q} ) 
			</if>
			<if test="downFenLeiId!=null and downFenLeiId!='' ">
		 		and  downFenLeiId =  #{downFenLeiId} 
			</if>
			<if test="isUse!=null and isUse!='' ">
		 		and  isUse =  #{isUse} 
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from t_down
		<where>
			<if test="q!=null and q!=''">
				and (title like #{q}  or contentNoTag like #{q}  or keywords like #{q} or description like #{q} ) 
			</if>
			<if test="downFenLeiId!=null and downFenLeiId!='' ">
		 		and  downFenLeiId =  #{downFenLeiId} 
			</if>
			<if test="isUse!=null and isUse!='' ">
		 		and  isUse =  #{isUse} 
			</if>
		</where>
	</select>
	
	<delete id="delete" parameterType="Integer">
		delete from t_down where id=#{id}
	</delete>
	
	<select id="findById" parameterType="Integer" resultMap="DownResult">
		select * from t_down where id=#{id}
	</select>
	
	
</mapper> 